[Unit]
Description=Cloud Image Storage WireGuard
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/linuxserver/wireguard:latest
ContainerName=cis-wireguard
Network=host
AddCapability=NET_ADMIN
AddCapability=SYS_MODULE
Volume=/etc/cis/wireguard:/config:Z
Environment=TZ=UTC

[Service]
Restart=always

[Install]
WantedBy=default.target
