[Unit]
Description=Cloud Image Storage Worker
After=postgres.service network-online.target
Wants=postgres.service network-online.target

[Container]
Image=localhost/cloud-image-storage:latest
ContainerName=cis-worker
Network=cis.network
Volume=/etc/cis:/etc/cis:ro,Z
Environment=CIS_CONFIG=/etc/cis/config.toml
Exec=worker

[Service]
Restart=always

[Install]
WantedBy=default.target
